<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">{{pageTitle}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/welcome'>Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/products'>List</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/product-grid'>Grid</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/product-table'>Table</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/product-chart'>Chart</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink='/login'>Welcome {{ userName }}</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink='/login'>Log In</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" (click)="logOut()" style="cursor: pointer">Log Out</a>
            </li>
        </ul>
    </div>
</nav>