<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto">
        <p>Here I have added 3 views of Products. Please finad the details about them.</p>
        <br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <h5 class="mx-auto">List View</h5>
        From this view user can check the available products. User can add new products with details from this view.
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <h5>Grid View</h5>
        This shows the detailed information of available products. This is readonly view.
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <h5>Chart View</h5>
        This view allows you to compare the available products with their values. This view is only for visualization.
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <h5>Table View</h5>
        This view allows you to view the list available products with their details. This view has ~1M records.
      </div>
    </div>
  </div>
</div>
