<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto">
        <p>Here I have added 5 views of Products. Please finad the details about them.</p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 py-2">
        <h5>List View</h5>
        From this view user can check the available products. User can add new products with details from this view.
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 py-2">
        <h5>Grid View</h5>
        This shows the detailed information of available products. This is readonly view.
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 py-2">
        <h5>Chart View</h5>
        This view allows you to compare the available products with their values. This view is only for visualization.
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 py-2">
        <h5>Table View</h5>
        This view allows you to view the list available products with their details. This view has <strong>~1M records</strong>.
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 py-2">
        <h5>Library View</h5>
        In this view, Template is define in <strong>'ngx-product-list'</strong> library and accepts data in specified formate.
      </div>
    </div>
  </div>
</div>